* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(https://uxdesigncontest.com/img/confetti-bg-tile@2x.png);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif !important;
  color: #312f37;
}
.slider {
  /* width: 100vw; */
  /* height: 100vh; */
  padding: 0px 15px;
  margin: 0px 38px;
  position: relative;
}
.container {
  width: 100%;
  /* height: 100%; */
  max-width: 1200px;
  padding: 0px 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.anhcup {
  width: 100%;
  height: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  animation: moveupdown 7s ease-in-out infinite;
}
@keyframes moveupdown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
.cup {
  width: 40%;
  margin-bottom: 10px;
}

.container .title {
  width: 100%;
  height: auto;
  margin: 5px 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: unset;
}
.title span {
  /* font-family: sans-serif; */
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
}
.img {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 200px;
  padding-left: 70px;
}
.img1,
.img2 {
  width: 100%;
  /* max-width: 700px; */
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  /* padding-left: 170px; */
  transition: opacity 0.3s ease-in-out;
  /* overflow: hidden; */
}
.img1 {
  z-index: 1;
}
.img2 {
  opacity: 0;
  z-index: 2;
}

.img:hover .img2 {
  opacity: 1;
}
.container p {
  font-size: 16px;
  margin-top: 15px;
  color: #333;
}
.textandbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textandbutton p {
  margin-bottom: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  margin: auto;
  /* width: 300px;
  height: 52px; */
  padding: 12px 30px;
  /* font-family: fantasy; */
  font-weight: 200;
  font-size: unset;
  color: white;
  background-color: #666 !important;
  border-radius: 10px;
  border: 2px solid rgba(49, 47, 55, 0.2);
}

.noidung {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 40px;
}
.sidebar {
  width: 250px;
  border: 1px solid gainsboro;
  position: sticky;
  top: 20px;
  border-radius: 10px;
  padding: 15px;
  /* left: 20px; */
  background-color: white;
}
.uxdesign {
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-size: 25px;
  font-weight: unset;
}

.uxdesign span {
  /* font-family: sans-serif; */
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}
.sidebar ul {
  list-style: none;
  /* padding: 20px */
  margin-left: 5px;
}

.sidebar li {
  margin-bottom: 1rem;
  font-size: 1.15rem;
  padding: 0;
}

.sidebar li a {
  display: block;
  text-decoration: none;
  color: #706f74;
  padding: 3px;
  border-radius: 1rem;
}

.sidebar li:not(:first-child) a:hover {
  background-color: #c8eff1;
  color: #007bff !important;
}

.content li {
  margin-bottom: 22px;
  /* font-family: sans-serif; */
  font-size: 1.15rem;
  color: rgb(49, 47, 55);
}
ul hr {
  color: gainsboro;
}

.content {
  width: 100%;
  /* height: 213px; */
  padding: 50px;
  border: 1px solid gainsboro;
  margin-bottom: 20px;
  position: relative;
  border-radius: 15px;
  background-color: white;
}
.content h1 {
  margin-bottom: 1rem;
  /* font-family: system-ui; */
  font-size: 2rem;
  font-weight: 700;
}
.content ul {
  padding-left: 40px;
}
.content p {
  margin-bottom: 1.5rem;
  /* font-size: x-large; */
  /* font-family: sans-serif; */
  font-size: 1.25rem;
}
.contentdetail {
  margin: 3rem 0rem;
}
.contentdetail span {
  /* font-family: monospace; */
  text-transform: uppercase;
  color: rgb(119, 118, 123);
  font-size: 1.25rem;
  font-weight: 500;
}
.contentdetail a {
  color: inherit;
  /* font-family: math; */
  margin: 10px 0px;
  display: block;
}
.pandim {
  display: flex;
  /* align-items: center; */
  gap: 1.25rem;
}

.pandim p {
  flex: 1;
  /* font-family: sans-serif; */
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.pandim img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
}

.body {
  margin: 20px 30px 0px 30px;
}
ol {
  padding-left: 2rem;
}
.testimonial {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.quote strong {
  font-size: 1rem !important;
  color: #312f37 !important;
}
.quote .author {
  margin: 0px !important;
}
.author strong {
  font-size: 1rem;
  /* font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif; */
}

.content.final {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: block;
  /* justify-content: center; */
  text-align: center;
}
.content.button {
  display: block;
  text-align: center;
  border: none;
  background-color: transparent;
}
.content.final p {
  color: #77767b;
}
.btfooter {
  display: flex;
  text-align: center;
  gap: 1rem;
}
.contentfooter {
  text-align: center;
  margin-top: 2rem;
}
.content ::selection {
  background-color: #fffd7f;
  color: #312f37;
}
button:hover {
  background-color: black !important;
}
.uxdesign::after {
  content: "🎉";
  opacity: 0;
}
.uxdesign:hover::after {
  opacity: 1;
}
@media (min-width: 1280px) {
  .content {
    width: 80%;
  }
}
@media only screen and (max-width: 46.1875em) {
  .img {
    display: none;
  }
  .cup {
    width: 100%;
  }
  button {
    padding: 8px 7px;
    font-size: revert-layer;
  }
  .container .title {
    width: 100%;
    height: auto;
    margin: 5px 0;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: unset;
  }
  .container p {
    margin-top: 10px;
  }
  .title span {
    font-family: sans-serif;
    font-size: 37px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .sidebar {
    display: none;
  }
  .textandbutton p {
    /* text-align: justify; */
    text-align: left;
    font-size: 11px;
    margin-bottom: 12px;
  }
  .content {
    padding: 10px;
  }
  .content h1 {
    margin-bottom: 1rem;
    /* font-family: system-ui; */
    font-size: 1.2rem;
    font-weight: 700;
  }
  .content ul {
    padding-left: 30px;
  }
  .content p {
    margin-bottom: 0.7rem;
    /* font-size: x-large; */
    /* font-family: sans-serif; */
    font-size: 1.07rem;
  }
  .content li {
    margin-bottom: 10px;
    /* font-family: sans-serif; */
    font-size: 1rem;
    color: rgb(49, 47, 55);
  }
  .contentdetail {
    margin: 1rem 0rem;
  }

  .contentdetail span {
    /* font-family: monospace; */
    text-transform: uppercase;
    color: rgb(119, 118, 123);
    font-size: 1.25rem;
    font-weight: 500;
  }
  .contentdetail a {
    color: inherit;
    /* font-family: math; */
    margin: 10px 0px;
    display: block;
  }
  .noidung {
    gap: 0px;
  }
  .pandim img {
    width: 7rem;
    height: 9rem;
  }
  .pandim p {
    margin-bottom: 0.7rem;
    /* font-size: x-large; */
    /* font-family: sans-serif; */
    font-size: 12px;
    text-align: justify;
  }
  .quote strong {
    font-size: 11px !important;
    margin-bottom: 15px !important;
  }
  .author {
    font-size: 12px !important;
  }
  .contentdetail ul {
    font-size: 10px;
  }
  @keyframes moveupdown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
